body {
	background-image: url("./images/background.jpg");
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*background-color: #f0f0f0; /* Hintergrundfarbe für den gesamten Körper */
}

.erfolgsmeldung,
.fehlermeldung {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    z-index: 1000; /* Stellen Sie sicher, dass Meldungen über anderen Elementen stehen */
}

.erfolgsmeldung {
    background-color: #2ecc71; /* Grüner Hintergrund für Erfolgsmeldung */
    color: #ffffff; /* Weißer Text für Erfolgsmeldung */
}

.fehlermeldung {
    background-color: #e74c3c; /* Roter Hintergrund für Fehlermeldung */
    color: #ffffff; /* Weißer Text für Fehlermeldung */
}

form {
    margin: 80px auto; /* Zentriert das Formular */
    max-width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333333;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #3498db; /* Blaue Farbe für den Überprüfen-Button */
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9; /* Dunklere blaue Farbe im Hover-Zustand */
}